<h1>Add Gif</h1>
<form class="aui" id="gif-upload-form" method="POST" enctype="multipart/form-data" action="$contextPath/plugins/servlet/gifrepo/api/gif">

    <div class="field-group">
        <label for="file">File</label>
        <input id="file" type="file"  name="file">
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <input type="submit" class="aui-button aui-button-primary" id="save-gif">Upload</input>
        </div>
    </div>
</form>
